.tree-view {
  height: auto;
}

.tree-node {
    margin-left: 10px; /* Adjust the indentation for nesting */
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .row {
    width: 100%;
    display: flex;
  }
  
  .folder {
    cursor: pointer;
    color: #ecdfdf;
  }

  .row:hover {
    background-color: rgb(18, 58, 59);
  }
  
  .file {
    margin-left: 18px;
    cursor: pointer;
    color: #dadada;
  }
  
  .toggle-icon {
    margin-right: 2px;
  }

  .node-selected {
    border-radius: 4px;
    background-color: rgb(18, 58, 59);
  }
  